@import "./node_modules/bootstrap/scss/bootstrap";

// responsive

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

//Variables

$color-principal: #5265E1;
$color-secunario: #FA5959;
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);

// Barra de navegación
.nav-item{
  margin-right: 35px;
}

//Toggler

.navbar-toggler{
  border: none;
  justify-content:center;
}

.navbar-toggler img{
  width: 30px;
}

.navbar-collapse{
margin-left: 35%;
}


// Botones

.loginButton{
  background-color: $color-secunario;
  width: 100px;
  margin-left: 10px;
}

.loginButton:hover{
  background-color: none;
  color: $color-secunario;
  outline-color: $color-secunario;
  outline-style: solid;
}

.buttonGroup:hover{
  color: $color-secunario;
  background-color: none;
  outline: none;
}

.Chrome, 
.moreInfo, 
.ChromeButton, 
.FirefoxButton, 
.OperaButton, 
.infoButton{
  background-color: $color-principal;
  outline-color: $color-principal;
  font-weight: bold;
}

.ChromeButton:hover, 
.FirefoxButton:hover, 
.OperaButton:hover, 
.moreInfo:hover, 
.Chrome:hover, 
.infoButton:hover{
  background-color: white;
  color:$color-principal;
  outline-color: $color-principal;
  outline-style: solid;
  font-weight: bold;
}

.Firefox{
  color: grey;
  box-shadow: $box-shadow-lg;
  font-weight: bold;
}

.Firefox:hover{
  color:$color-principal;
  outline-style: solid;
  outline-color: $color-principal;
  font-weight: bold;
}

.colPrincipalPage{
  h1{
    width: 100%;
    font-size: 2em;
  }

  .text{
    color: rgb(142, 142, 142);
    max-width:900px;
    font-size: 0.89em;
    margin-top: 5%;
  }
}

.container-fluid{
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 6%;
}

.container{
  margin-top: 5%;
  margin-bottom: 5%;
}
.img-container1 {
  display: flex;
  justify-content: flex-end;
}

.img-fluid1{
  display: flex;
  width: 600px;

}

.bg-figure1 {
  position: absolute;
  bottom: -35px;
  right: 0;
  width: 510px;
  height: 320px;
  background-color: $color-principal;
  border-top-left-radius: 150px; 
  border-bottom-left-radius: 150px;
  z-index: -1;
}

// Encabezado página Features

.featuresAlign {
  max-width: 500px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  color: rgb(142, 142, 142);
}

// Tab

.custom-tabs .nav-link {
  color: black;
  padding-inline: 55px;
  font-size: 1.1em;
  margin-bottom: 4%;
}

.custom-tabs .nav-link:hover {
  border-bottom: 3px solid $color-secunario; 
  font-weight: bold;
  width: 27%
}

.featuresAlign2 {
  margin-left: 100px;
  font-size: 0.89em;
  line-height: 1.7;
  margin-top: -30px;
  align-self: center;
}

.moreInfo{
  margin-top: 15px;
}

//Imagen 2

.img-fluid2{
  display: flex;
  margin-left: 2%;
}

//Figura 2

.bg-figure2 {
  display: flex;
  position:absolute;
  bottom: -770px;
  left: 0;
  width: 540px;
  height: 350px;
  background-color: $color-principal;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  z-index: -1;
}

//Downloads

#downloads{
  margin: auto;
}

// Cards

.containerCards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 270px;
  margin: 10px;
  border: none;
  box-shadow: $box-shadow-lg
}

#card1:nth-child(1) {
  margin-top: 0;
}

#card2:nth-child(2) {
  margin-top: 70px; // Ajusta según el espacio que desees
}

#card3:nth-child(3) {
  margin-top: 140px; // Ajusta según el espacio que desees
}


// Imagenes Cards
.chromeImage, .firefoxImage, .operaImage {
  width: auto;
  height: auto;
  margin: 50px;
}

.dots{
  margin-top: -20px;
  width: 220px;
}

// Faqs

.containerFaqs{
  display: flex;
  max-width: 450px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 2%;
}

#accordionFaqs{
  max-width: 450px;
  margin: auto;
}

.accordion-button {
  font-weight: bold;
}

.accordion-button::after {
  background-image: url(./Imagenes/icon-arrow.svg);
}

.button-container {
  text-align: center;
  margin: 20px;
  margin-bottom: 10%;
}

.infoButton {
  display: inline-block;
}

@media (max-width: 768px) {

  .containerCards, .containerFaqs{
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
  }

  .colPrincipalPage {
    max-width: 768px;
    text-align: center;
    margin: auto;
  }

  .bg-figure1{
    display: flex;
    margin: auto;
    right: 0;
    max-width: 380px;
    height: 250px;
  }

  .bg-figure2{
    display: flex;
    max-width: 380px;
    top:200%;
    height: 230px;
  }

  .img-fluid1 {
    max-width: 100%;;
    height: auto;
  }
  
  .img-container1{
    max-width: 768px;
    margin: 20px 0 0 0;
  }

  .img-container2{
    max-width: 768px;
    margin: 30px auto 10px;
  }

  .img-fluid2{
    max-width: 380px;
    height: auto;
  }

  .features{
    margin-top: 20px;
  }

  .nav-underline{
    max-width: 768px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 20px;
  }

  .nav-link{
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  .custom-tabs .nav-link:hover {
    border-bottom: 3px solid $color-secunario; 
    font-weight: bold;
    width: 60%;
  }  

  .featuresAlign{
    max-width: 768px;
  }

  .featuresAlign2{
    max-width: 768px;
    margin: 40px auto;
    text-align: center;
    font-size: 1.23em;;
  }
  
  .downloads{
    max-width: 768px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerCards {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    max-width: 768px;
    align-items: center;
  }

  .containerCards .row {
    width: 75%;
  }

  .containerCards .col {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .card {
    width: 75%;
    // max-width: 380px;
  }

  .containerFaqs{
    max-width: 768px;
    margin: auto;
  }

  .footerButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .nav-item, .nav-item1, .nav-item2, .nav-item3, .nav-item4 {
    margin: 10px 10px;
  }

  .nav-item4{
    margin-right: 165px;
  }
}

// Footer

.footer {
  width: 100%;
  background-color: $color-principal;
  color: #ffffff;
  padding-top: 4rem;
  text-align: center;

  h5 {
    color: white;
    font-size: 2em;
    width: 38%;
    margin: 0 auto;
    font-family:calibri;
    font-weight: bold;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 2rem;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .form-control {
    border-radius: 0;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    max-width: 250px;
    height: 2.5rem;
    margin-bottom: 10%;
  }

  .btn-danger {
    background-color: $color-secunario;
    border-color: $color-secunario;
    border-radius: 0.2rem;
    padding: 0rem 1rem;
    font-size: small;
    height: 2.5rem;
    align-items:center;
    display: inline-flex;
    margin-left: 5px;
    max-width: 160px;

  }

  .nav-link {
    color: #ffffff;
    font-size: 0.8rem;
    margin: 0 1rem;
  }

  .nav-link img {
    width: 20px;
    height: 20px;
  }

  .nav-linkLogo{
    margin-left: 70px;
  }

  .footerButtons{
    width: 100%;
    background-color: #273487;
    justify-content:flex-start;
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-item1, 
  .nav-item2,
  .nav-item3 {
    margin: -10px;
  }

  .nav-item4{
    justify-content:flex-end;
    margin-left: 35%;
  }

  .container,
  .row {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .text-center {
    text-align: center;
  }

  .justify-content-center {
    display: flex;
    justify-content: center;
  }

  .form-inline {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .needs-validation .form-control:invalid + .invalid-tooltip {
    display: block;
  }
  
  .form-control {
    width: 100%;
  }
  
  .valid-tooltip, .invalid-tooltip {
    position:absolute;
    top: 41%;
    left: 21%;
    width:209px;
    white-space: nowrap;
    background-color: #28a745;
    color: white;
    font-size: 0.5rem;
  }
  
  .invalid-tooltip {
    background-color: $color-secunario;
  }
}