@import "./node_modules/bootstrap/scss/bootstrap";

// responsive

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

//Variables

$color-principal: #5265E1;
$color-secunario: #FA5959;
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);

// Barra de navegación

.nav-item {
  width: 100px;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}


//Toggler

.navbar-toggler{
  border: none;
  justify-content:center;
}

.navbar-toggler img{
  width: 30px;
}

.navbar-collapse{
justify-content: flex-end;
margin-left: 50%;
}


// Botones

.loginButton{
  background-color: $color-secunario;
  width: 100px;
  margin-left: 10px;
}

.loginButton:hover{
  background-color: none;
  color: $color-secunario;
  outline-color: $color-secunario;
  outline-style: solid;
}

.buttonGroup:hover{
  color: $color-secunario;
  background-color: none;
  outline: none;
}

.Chrome, 
.moreInfo, 
.ChromeButton, 
.FirefoxButton, 
.OperaButton, 
.infoButton{
  background-color: $color-principal;
  outline-color: $color-principal;
  font-weight: bold;
}

.ChromeButton:hover, 
.FirefoxButton:hover, 
.OperaButton:hover, 
.moreInfo:hover, 
.Chrome:hover, 
.infoButton:hover{
  background-color: white;
  color:$color-principal;
  outline-color: $color-principal;
  outline-style: solid;
  font-weight: bold;
}

.Firefox{
  color: grey;
  box-shadow: $box-shadow-lg;
  font-weight: bold;
}

.Firefox:hover{
  color:$color-principal;
  outline-style: solid;
  outline-color: $color-principal;
  font-weight: bold;
}

.colPrincipalPage{
  display:block;
  margin:left;
  margin-left: 3%;
  margin-top: 6%;
  margin-bottom: 2%;

  .text{
    color: rgb(142, 142, 142);
    max-width:440px;
  }
}

.container-fluid{
  margin-top: 4%;
  margin-left: 7%;
  margin-right: 12%;
}

.container{
  margin-top: 5%;
  margin-bottom: 5%;
}

.img-fluid1 {
  display: flex;
  margin-left: 5%;
}

.bg-figure1 {
  display: flex;
  position: absolute;
  right: 0;
  bottom: -80px;
  width: 500px;
  height: 320px;
  background-color: $color-principal;
  border-top-left-radius: 150px; 
  border-bottom-left-radius: 150px;
  z-index: -1;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

// Encabezado página Features

.featuresAlign {
  max-width: 500px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  color: rgb(142, 142, 142);
}

// Tab

.custom-tabs .nav-link {
  color: black;
  padding-inline: 55px;
  font-size: 1.1em;
  margin-bottom: 4%;
}

.custom-tabs .nav-link:hover {
  border-bottom: 3px solid $color-secunario; 
  font-weight: bold;
  width: 27%
}

.featuresAlign2 {
  margin-left: 60px;
  margin-right: 60px;
  align-self: center;
}

//Imagen 2

.img-fluid2{
  display: flex;
  margin-left: 2%;
}

//Figura 2

.bg-figure2 {
  display: flex;
  position:absolute;
  bottom: -840px;
  left: 0;
  width: 540px;
  height: 350px;
  background-color: $color-principal;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  z-index: -1;
}

// Cards

.containerCards{
  margin-top: -5%;
  margin-left: 250px;
  display: flex;
}

.card {
  width: 250px;
  border: none;
  box-shadow: $box-shadow-lg
}

#card1{
  margin-bottom: 25%;
}

#card2{
  margin-top: 5%;
  margin-bottom: 20%;
}

#card3{
  margin-top: 10%;
  margin-bottom: 15%;
}

// Imagenes Cards

.chromeImage{
  width: 185px;
  margin-left: 35px;
  margin-top: 10px;
}

.firefoxImage{
  width: 190px;
  margin-left: 35px;
  margin-top: 10px;
}

.operaImage{
  width: 175px;
  margin-left: 35px;
  margin-top: 10px;
}


.dots{
  margin-top: -20px;
  width: 220px;
}

// Faqs

.containerFaqs{
  max-width: 450px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

#accordionFaqs{
  max-width: 450px;
  margin: auto;
}

.accordion-button {
  font-weight: bold;
}

.accordion-button::after {
  background-image: url(./Imagenes/icon-arrow.svg);
}

.button-container {
  text-align: center;
  margin: 20px;
}

.infoButton {
  display: inline-block;
}


@media (max-width: 806px) {

  .colPrincipalPage {
    margin:10% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bg-figure1{
    width: 480px;
    height: 350px;
    bottom: -420px;
  }

  .bg-figure2{
    width: 600px;
    top: 280%;
    height: 350px;
  }

  .img-fluid1, .img-fluid2 {
    margin-top: 20px;
    margin-left: 12%;
    margin-bottom: 100px;
  }

  .featuresAlign2 {
    margin-top: 20px;
    text-align: center;
  }

  .containerCards {
    display:inline;
    margin: 0 auto;
    align-items: center;
  }
}

@media (max-width: 768px) {

  // .colPrincipalPage {
    // margin:10% auto;
    // text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  // }

  .bg-figure1{
    max-width: 380px;
    height: 250px;
    bottom: -350px;
  }

  .bg-figure2{
    width: 420px;
    top: 290%;
    height: 240px;
  }

  .img-fluid1 {
    align-items:baseline;
    margin-left: -250px;
    max-width: 200%;;
    margin-top: 200%;
    // margin-left: 12%;
    // margin-bottom: 100px;
  }

  .img-fluid2{
    align-items: last baseline;
    max-width: 78%;
    position:absolute;
  }

  .featuresAlign2 {
    margin-top: 80%;
    // text-align: center;
  }

  .containerCards {
    display:inline;
    margin: 0 auto;
    align-items: center;
  }

  .nav-underline{
    margin-bottom: 10%;
  }

  .containerCards {
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-left: 120px;
  }

  .card {
    width: 70%;
    margin-bottom: 20px;
  }
}